<%- include("partials/header") -%>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h5 class="card-title">
					<%=title%>
				</h5>
				<ul class="list-unstyled">
					<li><i class="bi bi-building"></i>
						<%=company%>
					</li>
					<li><i class="bi bi-geo-alt"></i>
						<%=location%>
					</li>
					<li><i class="bi bi-gear"></i>
						<%=status%>
					</li>
					<li><i class="bi bi-file-earmark-text"></i>
						<%=type%>
					</li>
				</ul>
				<p class="card-text">
					<%=content%>
				</p>
				<button type="button" class="btn btn-success">Apply</button>
			</div>
		</div>
	</div>




	<%- include("partials/footer")-%>